 {% extends '../layouts/default.html' %} {% block content %}






<div class="row">
    <div class="col-sm-6">
        <h1 class="">Vehicles</h1>
    </div>
    <div class="col-sm-6 text-right">
        <h1 class="">
            <button class="btn btn-primary" data-target="#newVehicleModal" data-toggle="modal"><span class="fa fa-plus"></span> Add Vehicles</button>
        </h1>
    </div>
    <!-- Modal -->
    <div id="newVehicleModal" class="modal modal-lg right fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Vehicle</h4>
                </div>
                <form role="form" method="post" action="/vehicles" id="addVehicleForm" autocomplete="off">
                    <div class="modal-body">
                        <fieldset>
                            <div class="row">

                                <div class="form-group col-sm-6">
                                    <input class="form-control" placeholder="Number Plate" name="numberPlate" type="text" required autofocus>
                                </div>
                                <div class="form-group col-sm-6">
                                    <select class="form-control" name="vehicleType" id="VehicleTypeSelect">
                                                            <option value="jcb">JCB</option>
                                                            <option value="bobcat">Bobcat</option>
                                                            <option value="boomloader">Boomloader</option>
                                                            <option value="shovel">shovel</option>
                                                            <option value="other">other</option>
                                                        </select>
                                </div>
                                <div class="form-group col-sm-12 hidden" id="VehicleTypeCustomDiv">
                                    <input class="form-control" placeholder="Vehicle Type" id="vehicleTypeCustom" name="vehicleTypeCustom" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <select class="form-control ownerType" name="ownerType" id="ownerType">
                                                            <option value="company">Company</option>
                                                            <option value="partner">Partner</option>
                                                        </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input class="form-control" placeholder="Owner Name" name="owner" readonly id="ownerName" value="{{session.company.companyName}}"
                                        type="text" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <input class="form-control" placeholder="Mulkia" name="mulkia" id="mulkia" type="text" required>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" placeholder="Mulkia Expiry" name="mulkiaExpiry"  data-date-start-date="0d" data-date-end-date="+1y"  class="form-control datepicker" required />
                                </div>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                        </fieldset>
                    </div>
                    <div class="modal-footer text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add New Vehicle</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel ">
            <!-- /.panel-heading -->
            <div class="panel-body  padding-xs-0">
                <div class="table">
                    <div class="row">
                        <div class="col-sm-offset-9 col-sm-3">
                            <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search..">
                        </div>
                    </div>
                    <table class="table table-hover search-me-table">
                        <thead>
                            <tr>
                                <th>Number Plate</th>
                                <th class="hidden-xs">Type</th>
                                <th class="hidden-xs">Owner</th>
                                <th class="hidden-xs">Status</th>
                                <th>Mulkia Expiry</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vehicle in vehicles%}
                            <tr>
                                <td class="hidden-xs">{{vehicle.numberPlate}}

                                </td>
                                <td class="visible-xs">{{vehicle.vehicleType}} {{vehicle.numberPlate}}<br> {% if vehicle.status == 'AVAILABLE'%}
                                    <span class="label label-success">{{vehicle.status}}</span> {%else%}
                                    <span class="label label-default">{{vehicle.status}}</span> {%endif%}
                                </td>
                                <td class="hidden-xs">{{vehicle.vehicleType}}</td>
                                <td class="hidden-xs">{{vehicle.owner | title}}</td>
                                <td class="hidden-xs">
                                    {% if vehicle.status == 'AVAILABLE'%}
                                    <span class="label label-success">{{vehicle.status}}</span> {%else%}
                                    <span class="label label-default">{{vehicle.status}}</span> {%endif%}
                                </td>
                                <td>
                                     {%if vehicle.mulkiaExpiry %}
                                    {%set vy = vehicle.mulkiaExpiry | date('y')%}
                                    {%set cy = Date.now() | date('y')%}
                                    {%set cm = Date.now() | date('m')%}
                                    {%set vm = vehicle.mulkiaExpiry | date('m')%}
                                    {%set cd = Date.now() | date('d')%}
                                    {%set vd = vehicle.mulkiaExpiry | date('d')%}

                                    {%if vy-cy < 1 && vm-cm < 2  %}
                                    <span class="label label-danger">{{vehicle.mulkiaExpiry | date('M d, Y')}}</span>
                                    {%elseif vy-cy < 1 && vm-cm == 3%}
                                    <span class="label label-warning">{{vehicle.mulkiaExpiry | date('M d, Y')}}</span>
                                    {%else%}
                                    {{vehicle.mulkiaExpiry | date('M d, Y')}}
                                    {%endif%}
                                    {%endif%}

                                </td>
                                <td>
                                    <!-- <button class="btn btn-sm btn-default fa fa-pencil"> -->
                                    <!-- </button> -->
                                    <a class="btn btn-sm btn-default fa fa-ellipsis-h" href="/tasks/{{vehicle.numberPlate}}">
                                    </a>
                                    <a class="btn btn-sm btn-default fa fa-eye" data-toggle="modal" href="#mulkiaExpiryModal{{vehicle.numberPlate}}">
                                    </a>
                                    <div id="mulkiaExpiryModal{{vehicle.numberPlate}}" class="modal modal-lg right fade" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Update Vehicle</h4>
                                                </div>
                                                <form role="form" method="post" action="/vehicles/update" id="mulkiaExpiryForm{{vehicle.numberPlate}}" autocomplete="off">
                                                    <div class="modal-body">
                                                        <fieldset>
                                                            <input class="form-control hidden" value="{{vehicle.numberPlate}}" name="numberPlate" type="text" autofocus>
                                                            <div class="row">
                                                                <div class="form-group col-sm-6">
                                                                    <select class="form-control ownerType" name="ownerType" id="ownerType">
                                                            <option value="company" {%if vehicle.ownerType | lower == 'company'%}selected{%endif%}>Company</option>
                                                            <option value="partner" {%if vehicle.ownerType | lower == 'partner'%}selected{%endif%}>Partner</option>
                                                        </select>
                                                                </div>
                                                                <div class="form-group col-sm-6">
                                                                    <input class="form-control" placeholder="Owner Name" name="owner" readonly id="ownerName" value="{{vehicle.owner}}" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-sm-6">
                                                                    <input class="form-control" placeholder="Mulkia" name="mulkia" value="{{vehicle.mulkia}}" type="text" required>
                                                                </div>
                                                                <div class="form-group col-sm-6">
                                                                    <input type="text" placeholder="Mulkia Expiry" name="mulkiaExpiry" data-date-start-date="0d" data-date-end-date="+1y" value="{{vehicle.mulkiaExpiry}}" required
                                                                        class="form-control datepicker" />
                                                                </div>
                                                            </div>
                                                            <!-- Change this to a button or input when using this as a form -->
                                                        </fieldset>
                                                    </div>
                                                    <div class="modal-footer text-right">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Update Vehicle</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->


{% endblock %}