<!-- Navigation -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    <a class="navbar-brand white" href="/">{{session.company.companyName || 'AlphaSaur'}} | Transbot</a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown hidden-xs">
        <a class="dropdown-toggle white" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
        <ul class="dropdown-menu dropdown-user">
            <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a> -->
            <!-- </li> -->
             <li><a href="/"><i class="fa fa-home fa-fw"></i> Home</a> 
             </li> 
            <li class="divider"></li>
            <li><a href="#logoutModal" data-toggle="modal"><i class="fa fa-sign-out fa-fw"></i> Log Out</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->