<script src="/js/minscripts.min.js"></script>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            maxDate: 'now'
        });

        $('.input-daterange input').each(function () {
            $(this).datepicker({
                autoclose: true,
                maxDate: 'now'
            });
        });

        $('.clockpicker').clockpicker({
            autoclose: true
        });
    });

</script>
<script>
    $(document).ready(function () {
        $('.paymentMethodClass').on('change', function () {
            if ($(this).val() == 'CASH') {
                $('#chequeNumber').addClass('hidden');
                $('#chequeNumber').prop('required', false);
            }
            else {
                $('#chequeNumber').removeClass('hidden');
                $('#chequeNumber').prop('required', true);

            }
        });
    });

</script>
<script>
    $(document).ready(function () {
        $('#intervalTypeSelect').on('change', function () {
            if ($(this).val() == 'notsure') {
                $('#taskinterval').prop('required', false);
                $('#taskinterval').prop('disabled', true);
            }
            else {
                $('#taskinterval').prop('required', true);
                $('#taskinterval').prop('disabled', false);
            }
        });
    });

</script>
<script>
    $(document).ready(function () {
        $('.ownerType').on('change', function () {
            if ($(this).val() == 'company') {
                var companyName = "{{session.company.companyName}}";
                $(this).parent().parent().find('#ownerName').val(companyName);
                $(this).parent().parent().find('#ownerName').attr('readonly', true);
                $(this).parent().parent().find('#ownerName').prop('readonly', true);
            }
            else {
                $(this).parent().parent().find('#ownerName').val('');
                $(this).parent().parent().find('#ownerName').attr('readonly', false);
                $(this).parent().parent().find('#ownerName').prop('readonly', false);
            }
        });
    });

</script>
<script>
    $(document).ready(function () {
        if ($('#addVehicleForm').length > 0) {
            $('#VehicleTypeSelect').on('change', function () {
                if ($(this).val() !== 'other') {
                    $('#VehicleTypeCustomDiv').addClass('hidden');
                    $('#vehicleTypeCustom').prop("required", false)
                }
                else {
                    $('#VehicleTypeCustomDiv').removeClass('hidden');
                    $('#vehicleTypeCustom').prop("required", true)
                }
            });
        }
    });

</script>
<script>
    function printContent(el) {
        var restorepage = $('body').html();
        var printcontent = $('#' + el).clone();
        $('body').empty().html(printcontent);
        window.print();
        $('body').html(restorepage);
    }

</script>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementsByClassName("search-me-table")[0];
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            tdLen = tr[i].getElementsByTagName("td").length;
            for (k = 0; k < tdLen - 1; k++) {
                td = tr[i].getElementsByTagName("td")[k];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }

</script>

<script>
    $(document).ready(function () {
        if ($('#taskTable').length > 0) {
            var table = ('#taskTable');
            alphaSaurTableInit('');

            $('#alphaSaurSearch').on('input', function () {
                var input;
                input = $(this).val();
                $(table).data('offset', 0);
                $(table).data('limit', 10);
                alphaSaurTableInitSearch(input);
            });

            $('#alphaSaurLoadMore').on('click', function () {
                var input;
                input = $('#alphaSaurSearch').val();
                var offset = $(table).data('offset');
                var limit = $(table).data('limit');
                $(table).data('offset', offset + limit)
                alphaSaurTableInit(input);
            });

            function appendRowToTable(task) {

                var status = '';
                var xsstatus = '';
                var li1 = '';
                var li2 = '';
                var li3 = '<li><a href="/invoices/' + task.taskId + '">View Invoices</a></li>';
                if (task.status == 'PENDING') {
                    xsstatus = '<span class="label label-warning">' + task.status + '</span>';
                    li1 = '<li><a href="#newExpensesModal' + task.numberPlate + '' + task.taskId + '" data-toggle="modal">Add Expenses</a></li>';
                    li2 = '<li><a href="#markTaskAsComplete' + task.numberPlate + '' + task.taskId + '"data-toggle="modal">Mark as Complete</a></li>';
                }
                else if (task.status == 'COMPLETE') {
                    xsstatus = '<span class="label label-success">AED ' + task.income + ' ' + task.status + '</span>';
                }
                else {
                    xsstatus = '<span class="label label-default">AED ' + task.income + ' RECEVIED</span>';
                }


                if (task.status == 'PENDING') {
                    status = '<span class="label label-warning">' + task.status + '</span>';
                    li1 = '<li><a href="#newExpensesModal' + task.numberPlate + '' + task.taskId + '" data-toggle="modal">Add Expenses</a></li>';
                    li2 = '<li><a href="#markTaskAsComplete' + task.numberPlate + '' + task.taskId + '"data-toggle="modal">Mark as Complete</a></li>';
                }
                else if (task.status == 'COMPLETE') {
                    status = '<span class="label label-success">' + task.status + '</span>';
                }
                else {
                    status = '<span class="label label-default">RECEVIED</span>';
                }


                var markAsCompleteModal =
                    '<div id="markTaskAsComplete' + task.numberPlate + '' + task.taskId + '" class="modal fade" role="dialog">' +
                    '<div class="modal-dialog">' +
                    '<div class="modal-content">' +
                    '<div class="modal-header">' +
                    '<button type="button" class="close" data-dismiss="modal">&times;</button>' +
                    '<h4 class="modal-title">Mark Task as Complete</h4>' +
                    '</div>' +
                    '<form role="form" method="post" action="/tasks/complete" enctype="multipart/form-data" autocomplete="off">' +
                    '<div class="modal-body">' +
                    '<fieldset>' +
                    '<div class="form-group">' +
                    '<input class="form-control hidden" readonly name="taskId" type="text" value="' + task.taskId + '">' +
                    '<input class="form-control hidden" readonly name="numberPlate" type="text" value="' + task.numberPlate + '">' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<span>Are you sure you want to mark this task as completed?</span>' +
                    '</div>' +
                    '</fieldset>' +
                    '</div>' +
                    '<div class="modal-footer text-right">' +
                    '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>' +
                    '<button type="submit" class="btn btn-primary">Mark As Complete</button>' +
                    '</div>' +
                    '</form>' +
                    '</div>' +
                    '</div>' +
                    '</div>';

                var newExpensesModal = '<div id="newExpensesModal' + task.numberPlate + '' + task.taskId + '" class="modal  modal-lg right fade" role="dialog">' +
                    '<div class="modal-dialog">' +
                    '<div class="modal-content">' +
                    '<div class="modal-header">' +
                    '<button type="button" class="close" data-dismiss="modal">&times;</button>' +
                    '<h4 class="modal-title">Add New Expense</h4>' +
                    '</div>' +
                    '<form role="form" method="post" action="/expenses" autocomplete="off">' +
                    '<div class="modal-body">' +
                    '<fieldset>' +
                    '<div class="form-group">' +
                    '<div class="alert alert-danger" style="margin-top: 20px !important;">' +
                    '<strong>Note:</strong> <br>These are general expenses and will not be added as recieveables.<br>Recieveable expenses can be added only at invoice level' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<input class="form-control hidden" readonly name="taskId" type="text" value="' + task.taskId + '">' +
                    '<input class="form-control hidden" readonly name="numberPlate" type="text"  value="' + task.numberPlate + '">' +
                    '</div>' +
                    '<div class="row">' +
                    '<div class="form-group col-sm-6">' +
                    '<input class="form-control" placeholder="Expense Title" name="expenseTitle" type="text" required>' +
                    '</div>' +
                    '<div class="form-group col-sm-6">' +
                    '<input class="form-control" placeholder="Expenses" min="1" step="0.1" name="expenses" type="number" required/>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group hidden">' +
                    '<label class="control-label padding-right-10">Add to Recieveable</label>' +
                    '<input name="recieveable" value="YES" type="radio" id="recieveableyes"/><label  class="padding-right-10" for="recieveableyes"> Yes</label>' +
                    '<input name="recieveable" value="NO" type="radio" id="recieveableno" checked/><label for="recieveableno"> No</label>' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<textarea class="form-control" name="expenseDescription" placeholder="Description"></textarea>' +
                    '</div>' +
                    '</fieldset>' +
                    '</div>' +
                    '<div class="modal-footer text-right">' +
                    '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>' +
                    '<button type="submit" class="btn btn-primary">Add New Expense</button>' +
                    '</div>' +
                    '</form>' +
                    '</div>' +
                    '</div>' +
                    '</div>';

                var workingHours = 0
                if (task.workingHours) {
                    workingHours = task.workingHours;
                }

                row = '<tr>' +
                    '<td class="hidden-xs hidden-sm">' + task.taskTitle + '</td>' +
                    '<td class="visible-xs visible-sm">' + task.taskTitle + ' ' + xsstatus + '<br><span>' + task.startDate + '</span><br> <span>' + task.numberPlate + '</span></td>' +
                    '<td class="hidden-xs hidden-sm">' + workingHours + '</td>' +
                    '<td class="hidden-xs hidden-sm">AED ' + task.workingRate + '</td>' +
                    '<td class="visible-xs visible-sm">' + workingHours + '@' + task.workingRate + '</td>' +
                    '<td class="hidden-xs hidden-sm">AED ' + task.income + '</td>' +
                    '<td class="hidden-xs hidden-sm">' + task.numberPlate + '</td>' +
                    '<td class="hidden-xs hidden-sm">' + task.startDate + '</td>' +
                    '<td class="hidden-xs hidden-sm">' + status + '</td>' +
                    ' <td> ' + markAsCompleteModal + ' ' + newExpensesModal +
                    ' <div class="dropdown"><button class="dropdown-toggle btn btn-default btn-sm " data-toggle="dropdown">' +
                    '<i class="fa fa-ellipsis-h fa-fw"></i> <i class="fa fa-caret-down"></i>' +
                    '</button>' +
                    '<ul class="dropdown-menu dropdown-menu-right">' +
                    '<li><a href="/tasks/' + task.numberPlate + '/' + task.taskId + '">View Details</a>' +
                    '</li>' + li3 + li1 + li2 +
                    '</ul>' +
                    '</div>' +
                    '</td>' +
                    '</tr>';
                return row;
            }

            function alphaSaurTableInitSearch(search) {

                var url = $(table).data('url');
                var limit = $(table).data('limit');
                var offset = $(table).data('offset');
                $.get(url + '?search=' + search + '&offset=' + offset + '&limit=' + limit, function (data, status) {
                    if (data.total > 0) {
                        if (data.total <= limit + offset || data.rows.length == 0) {
                            $('#alphaSaurLoadMore').addClass('hidden');
                        }
                        else {
                            $('#alphaSaurLoadMore').removeClass('hidden');
                        }
                        $(table).find('tbody').empty();
                        $.each(data.rows, function (index, item) {
                            var row = appendRowToTable(item);
                            $(table).find('tbody').append(row);
                            $(":file").filestyle({ iconName: 'fa fa-upload' });
                        });
                    }
                    else {
                        $(table).find('tbody').html('<tr><td class="text-center" colspan="100%">No Task Found</td></tr>')
                    }
                });
            }

            function alphaSaurTableInit(search) {

                var url = $(table).data('url');
                var limit = $(table).data('limit');
                var offset = $(table).data('offset');
                $.get(url + '?search=' + search + '&offset=' + offset + '&limit=' + limit, function (data, status) {
                    if (data.total > 0) {
                        if (data.total <= limit + offset || data.rows.length == 0) {
                            $('#alphaSaurLoadMore').addClass('hidden');
                        }
                        else {
                            $('#alphaSaurLoadMore').removeClass('hidden');
                        }
                        $.each(data.rows, function (index, item) {
                            var row = appendRowToTable(item);
                            $(table).find('tbody').append(row);
                            var file = $("input[name=timesheetPhoto]").filestyle('buttonText', 'Attach Time Sheet');
                            var file = $("input[name=timesheetPhoto]").filestyle('iconName', 'fa fa-upload');
                        });
                    }
                    else {
                        $(table).find('tbody').html('<tr><td class="text-center" colspan="100%">No Task Found</td></tr>')
                    }
                });
            }
        }
    });

</script>


<script>
    $(document).ready(function () {
        if ($('#invoicesTable').length > 0) {
            var table = ('#invoicesTable');
            alphaSaurTableInit('');

            $('#alphaSaurSearch').on('input', function () {
                var input;
                input = $(this).val();
                $(table).data('offset', 0);
                $(table).data('limit', 10);
                alphaSaurTableInitSearch(input);
            });

            $('#alphaSaurLoadMore').on('click', function () {
                var input;
                input = $('#alphaSaurSearch').val();
                var offset = $(table).data('offset');
                var limit = $(table).data('limit');
                $(table).data('offset', offset + limit)
                alphaSaurTableInit(input);
            });

            function appendRowToTable(item) {

                var status = '';
                var xsstatus = '';
                var li = '<a class="btn btn-default btn-xs" href="/invoices/details/' + item.taskId + '/' + item.invoiceId + '"><i class="fa fa-ellipsis-h fa-fw"></i></a>';
                if (item.status == 'PENDING') {
                    xsstatus = '<span class="label label-warning">' + item.status + '</span>';
                    status = '<span class="label label-warning">' + item.status + '</span>';
                }
                else {
                    xsstatus = '<span class="label label-default">AED ' + item.income + ' RECEVIED</span>';
                    status = '<span class="label label-default">RECEVIED</span>';
                }


                var workingHours = 0
                if (item.workingHours) {
                    workingHours = item.workingHours;
                }

                row = '<tr>' +
                    '<td class="hidden-xs hidden-sm">' + item.invoiceId + '</td>' +
                    '<td class="hidden-xs hidden-sm">' + item.invoiceTitle + '</td>' +
                    '<td class="visible-xs visible-sm">' + item.invoiceId + '<br>' + item.invoiceTitle + ' ' + xsstatus + '<br><span>' + item.startDate + '</span><br> <span>' + item.numberPlate + '</span></td>' +
                    '<td class="hidden-xs hidden-sm">' + workingHours + '</td>' +
                    '<td class="hidden-xs hidden-sm">AED ' + item.workingRate + '</td>' +
                    '<td class="visible-xs visible-sm">' + workingHours + '@' + item.workingRate + '</td>' +
                    '<td class="hidden-xs hidden-sm">AED ' + item.income + '</td>' +
                    '<td class="hidden-xs hidden-sm">' + item.numberPlate + '</td>' +
                    '<td class="hidden-xs hidden-sm">' + item.invoiceDate_str + '</td>' +
                    '<td class="hidden-xs hidden-sm">' + status + '</td>' +
                    ' <td> ' + li
                '</td>' +
                    '</tr>';
                return row;
            }

            function alphaSaurTableInitSearch(search) {

                var url = $(table).data('url');
                var limit = $(table).data('limit');
                var offset = $(table).data('offset');
                $.get(url + '?search=' + search + '&offset=' + offset + '&limit=' + limit, function (data, status) {
                    if (data.total > 0) {
                        if (data.total <= limit + offset || data.rows.length == 0) {
                            $('#alphaSaurLoadMore').addClass('hidden');
                        }
                        else {
                            $('#alphaSaurLoadMore').removeClass('hidden');
                        }
                        $(table).find('tbody').empty();
                        $.each(data.rows, function (index, item) {
                            var row = appendRowToTable(item);
                            $(table).find('tbody').append(row);
                            $(":file").filestyle({ iconName: 'fa fa-upload' });
                        });
                    }
                    else {
                        $(table).find('tbody').html('<tr><td class="text-center" colspan="100%">No Task Found</td></tr>')
                    }
                });
            }

            function alphaSaurTableInit(search) {

                var url = $(table).data('url');
                var limit = $(table).data('limit');
                var offset = $(table).data('offset');
                $.get(url + '?search=' + search + '&offset=' + offset + '&limit=' + limit, function (data, status) {
                    if (data.total > 0) {
                        if (data.total <= limit + offset || data.rows.length == 0) {
                            $('#alphaSaurLoadMore').addClass('hidden');
                        }
                        else {
                            $('#alphaSaurLoadMore').removeClass('hidden');
                        }
                        $.each(data.rows, function (index, item) {
                            var row = appendRowToTable(item);
                            $(table).find('tbody').append(row);
                            var file = $("input[name=timesheetPhoto]").filestyle('buttonText', 'Attach Time Sheet');
                            var file = $("input[name=timesheetPhoto]").filestyle('iconName', 'fa fa-upload');
                        });
                    }
                    else {
                        $(table).find('tbody').html('<tr><td class="text-center" colspan="100%">No Task Found</td></tr>')
                    }
                });
            }
        }
    });

</script>

<script>
    $(function () {

        var data = JSON.parse(barData)
        Morris.Bar({
            element: 'inovices-bar-chart-12',
            data: data.barData12,
            xkey: 'month',
            ykeys: ['total', 'received'],
            labels: ['Total Invoices', 'Received Invices'],
            hideHover: 'auto',
            resize: true
        });

          Morris.Bar({
            element: 'inovices-bar-chart-6',
            data: data.barData6,
            xkey: 'month',
            ykeys: ['total', 'received'],
            labels: ['Total Invoices', 'Received Invices'],
            hideHover: 'auto',
            resize: true
        });

    });

</script>