 {% extends '../layouts/default.html' %} {% block content %}

<div class="row">
    <div class="col-sm-8">
        <h1 class="">Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-car fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{summary.vehicles || 0}}</div>
                        <div>Available Vehicles</div>
                    </div>
                </div>
            </div>
            <a href="/vehicles">
                <div class="panel-footer">
                    <span class="pull-left">View Vehicles</span>
                    <span class="pull-right"><i class="fa fa-car"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{summary.tasks || 0}}</div>
                        <div>Pending Tasks</div>
                    </div>
                </div>
            </div>
            <a href="/tasks">
                <div class="panel-footer">
                    <span class="pull-left">View Tasks</span>
                    <span class="pull-right"><i class="fa fa-tasks"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-files-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{summary.invoices || 0}}</div>
                        <div>Pending Invoices</div>
                    </div>
                </div>
            </div>
            <a href="/invoices">
                <div class="panel-footer">
                    <span class="pull-left">View Invoices</span>
                    <span class="pull-right"><i class="fa fa-files-o"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Invoices Bar Chart
        </div>
        <div class="panel-body">
            <div class="hidden-xs" id="inovices-bar-chart-12"></div>
            <div class="visible-xs" id="inovices-bar-chart-6"></div>
        </div>
    </div>
</div>
<script>
var barData = '{{barData| json | raw}}';
</script>
{% endblock %}