 {% extends '../layouts/default.html' %} {% block content %}
<div class="row" style="padding-top: 20px !important;">
    {% if invoice.invoice.status == 'PENDING'%}
    <!-- Modal -->
    <div id="newExpensesModal" class="modal modal-lg right fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Recieveable Expense</h4>
                </div>
                <form role="form" method="post" action="/expenses/invoices" autocomplete="off">
                    <div class="modal-body">
                        <fieldset>

                            <div class="form-group">
                                <div class="alert alert-danger" style="margin-top: 20px !important;">
                                    <strong>Note:</strong> <br>These are recieveable expenses and will be added as recieveables.
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control hidden" readonly name="taskId" type="text" value="{{invoice.invoice.taskId}}">
                                <input class="form-control hidden" readonly name="numberPlate" type="text" value="{{invoice.invoice.numberPlate}}">
                                <input class="form-control hidden" readonly name="invoiceId" type="text" value="{{invoice.invoice.invoiceId}}">
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <input class="form-control" placeholder="Expense Title" name="expenseTitle" type="text" required>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input class="form-control" placeholder="Expenses" min="1" step="0.1" name="expenses" type="number" required/>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label padding-right-10">Add to Recieveable</label>
                                <input name="recieveable" value="YES" type="radio" id="recieveableyes" checked /><label class="padding-right-10"
                                    for="recieveableyes"> Yes</label>
                                <input name="recieveable" value="NO" type="radio" id="recieveableno" />
                                <label for="recieveableno"> No</label>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="expenseDescription" placeholder="Description"></textarea>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Recieveable Expense</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {%endif%}
    <div class="dropdown col-md-12 text-right">
        {% if invoice.invoice.status == 'PENDING'%}


        <a class="btn btn-primary" href="#newExpensesModal" data-toggle="modal">Add Recieveable Expenses</a> {%endif%} {%
        if invoice.invoice.invoiceDocuments.length > 0%}
        <!-- /.dropdown -->
        <a class="btn btn-default dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                       Documents <i class="fa fa-caret-down"></i>
                    </a>
        <ul class="dropdown-menu dropdown-menu-right">
            {% for doc in invoice.invoice.invoiceDocuments %}
            <li><a target="_blank" href="/api/downloads/tasks/{{invoice.invoice.taskId}}/invoices/{{invoice.invoice.invoiceId}}/{{doc.fileName}}.{{doc.extension}}">Download Time Sheet</a>
            </li>
            {%endfor%}
        </ul>
        <!-- /.dropdown-user -->
        <!-- /.dropdown -->
        {%endif%}
    </div>
</div>


<div class="row" id="{{invoice.invoice.invoiceId}}invoiceDiv" style="padding-top: 20px !important;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">
                    <img class=" img-circle" src="/api/downloads/companies/logos/{{session.company.logo}}" />
                </h3>
                <h3 class="text-center"><strong>{{session.company.companyName}} - invoice  {% if invoice.invoice.status == 'PENDING'%}
                                        <span class="label label-warning">{{invoice.invoice.status}}</span>{%else%}
                                        <span class="label label-default">RECEVIED</span> {%endif%}
                                    </strong></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 row">
                        <div class="col-sm-12 text-left">
                            <h5>invoice Number: <strong><a>{{invoice.invoice.invoiceId}}</a></strong></h5>
                        </div>
                        {% if invoice.invoice.lpo %}
                        <div class="col-sm-12 text-left">
                            <h5>LPO Number: <strong><a>{{invoice.invoice.lpo}}</a></strong></h5>
                        </div>
                        {%endif%}
                        <div class="col-sm-12 text-left">
                            <h5>Company: <strong>{{invoice.invoice.hiredBy | title}}</strong></h5>
                        </div>
                        <div class="col-sm-12 text-left">
                            <h5>Title: <strong>{{invoice.invoice.invoiceTitle | title}}</strong></h5>
                        </div>
                        {% if invoice.invoice.paymentMethod %}
                        <div class="col-sm-12 text-left">
                            <h5>Received As <strong>{{invoice.invoice.paymentMethod}} {%if invoice.invoice.paymentMethod == 'CHEQUE'%} #{{invoice.invoice.chequeNumber}}{%endif%}</strong></h5>
                        </div>
                        {%endif%}
                    </div>
                    <div class="col-xs-6 row text-right">
                        <div class="col-sm-12">
                            <h5><strong>{{invoice.invoice.updatedAt | date('M d, Y')}}</strong></h5>
                        </div>
                        <div class="col-sm-12">
                            <h5><strong>{{invoice.vehicle.vehicleType}} - {{invoice.vehicle.numberPlate}}</strong></h5>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 text-left">
                        <h5>With Deisel: <strong>{{invoice.invoice.withDiesel}}</strong></h5>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-left">
                        <h5>Number of Hours: <strong>{{invoice.invoice.workingHours}}</strong></h5>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-left">
                        <h5>Rate per Hour: <strong>AED {{invoice.invoice.workingRate}}</strong></h5>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-left">
                        <h5>Total: <strong>AED {{invoice.invoice.total}}</strong></h5>
                    </div>
                </div>
                <hr> {%if invoice.expenses.length > 0%}
                <h5><strong>Expenses</strong></h5>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td><strong>Title</strong></td>
                                <td class="text-left"><strong>Description</strong></td>
                                <!-- <td class="text-right"><strong>Recieveable</strong></td> -->
                                <td class="text-right"><strong>Expense</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in invoice.expenses%}
                            <tr>
                                <td>{{expense.expenseTitle | title}}</td>
                                <td class="text-left">{{expense.expenseDescription}}</td>
                                <td class="text-right">AED {{expense.expenses}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <hr> {%endif%}
                <div class="row">
                    <div class="col-xs-10 text-right">
                        <strong>Total Expenses</strong>
                    </div>
                    <div class="col-xs-2 text-right">
                        AED {{invoice.invoice.totalExpenses}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 text-right">
                        <strong>Discounts</strong>
                    </div>
                    <div class="col-xs-2 text-right">
                        AED {{invoice.invoice.discount || 0}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 text-right">
                        <strong>Recieveables</strong>
                    </div>
                    <div class="col-xs-2 text-right">
                        {%if invoice.invoice.income%} AED {{invoice.invoice.income}} {%else%} AED 0 {%endif%}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-left padding-top-30">
                        <span>{{invoice.invoice.invoiceDescription | capitalize}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <a href="/outsource/invoices/{{invoice.invoice.numberPlate}}/{{invoice.invoice.invoiceId}}" target="_blank">View Invoice Without Expenses</a> -->
<div class="row" style="margin-bottom: 20px">
    <div class="col-xs-12 text-right">
        <button type="button" class="btn btn-default" onclick="printContent('{{invoice.invoice.invoiceId}}invoiceDiv');">Print invoice</button> 
        {%if invoice.invoice.status == 'PENDING'%}
        <button type="button" data-target="#markAsReceivedModal" data-toggle="modal" class="btn btn-primary">Mark as Received</button> 
               {%endif%}
    </div>

    <div id="markAsReceivedModal" class="modal  modal-lg right fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mark as Received</h4>
                </div>
                <form method="post" action="/invoices/received" >
                    <div class="modal-body">
                        <fieldset>
                            <input class="hidden" name="invoiceId" value="{{invoice.invoice.invoiceId}}" />
                            <input class="hidden" name="numberPlate" value="{{invoice.invoice.numberPlate}}" />
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="radio-inline">
                                                <input type="radio" class="paymentMethodClass" name="paymentMethod" id="paymentMethodCheque" value="CHEQUE" checked/>Payment by Cheque
                                            </label>
                                    <label class="radio-inline">
                                                <input type="radio" class="paymentMethodClass" name="paymentMethod" id="paymentMethodCash" value="CASH" />Payment by Cash
                                            </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <input class="form-control" placeholder="Discount if Any" name="discount" min="0" type="number">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input class="form-control" placeholder="Cheque Number" id="chequeNumber" name="chequeNumber" type="text" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="expenseDescription" placeholder="Description"></textarea>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Mark as Received</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}