 {% extends '../layouts/default.html' %} {% block content %}

<div class="row">
    <div class="col-sm-8">
        <h1 class="">Invoices</h1>
    </div>
    <div class="col-sm-4 text-right">
        <h1 class="">
            <a class="btn btn-default" data-toggle="modal" href="#downloadExcelModal"><span class="fa fa-download"></span></a>
        </h1>
    </div>
    <div id="downloadExcelModal" class="modal modal-lg right fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose Date Range</h4>
                </div>
                <form role="form" method="post" action="/downloads/excels/invoices" autocomplete="off">
                    <div class="modal-body">
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group input-daterange">
                                    <div class="input-group-addon">From</div>
                                    <input type="text" class="form-control" name="startDate" required>
                                    <div class="input-group-addon">To</div>
                                    <input type="text" class="form-control" name="endDate" required>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Download</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel ">
            <!-- /.panel-heading -->
            <div class="panel-body  padding-xs-0">

                <div class="table">
                    <div class="row">
                        <div class="col-sm-offset-9 col-sm-3">
                            <input type="text" class="form-control" id="alphaSaurSearch" placeholder="Search..">
                        </div>
                    </div>
                    <table class="table table-hover" id="invoicesTable" data-url="/json/invoices/data" data-limit="10" data-offset="0">
                        <thead>
                            <tr>
                                <th>Invoice</th>
                                <th class="hidden-xs hidden-sm">Title</th>                                <th class="hidden-xs hidden-sm">Hours</th>
                                <th class="hidden-xs hidden-sm">Rate</th>
                                <th class="visible-xs visible-sm">Hours@rate</th>
                                <th class="hidden-xs hidden-sm">Income</th>
                                <th class="hidden-xs hidden-sm">Vehicle</th>
                                <th class="hidden-xs hidden-sm">Date(m/d/y)</th>
                                <th class="hidden-xs hidden-sm">Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="100%">
                                    <button class="btn btn-default btn-block hidden" id="alphaSaurLoadMore">Load More ...</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->


{% endblock %}