 {% extends '../layouts/default.html' %} {% block content %}

<div class="row">
    <div class="col-sm-8">
        <h1 class="">Invoices of {{task.taskTitle | title}}</h1>
    </div>
    <div class="col-sm-4 text-right">
        <h1 class="">
            {%if task.remainingHours > 0%}
            <button class="btn btn-primary" data-target="#newinvoiceModal" data-toggle="modal"><span class="fa fa-plus"></span> Generate new Invoice</button>            {%endif%}
        </h1>
    </div>
    <!-- Modal -->
    <div id="newinvoiceModal" class="modal modal-lg right fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New invoice</h4>
                </div>
                <form role="form" method="post" action="/invoices" autocomplete="off" enctype="multipart/form-data">
                    <div class="modal-body">
                        <fieldset>


                            <div class="form-group">
                                <span>Working at <b>{{task.workingRate}} AED</b> {%if task.withDiesel == 'YES'%}with{%else%}without{%endif%} diesel<span/>
                                   
                                   {%if task.workingHours > 0%}
                                        <br><span>Total Hours <b>{{task.workingHours}}</b><span/>
                                        <br><span>Remaing Hours <b>{{task.remainingHours}}</b><span/>
                                            {%else%}
                                        <br><span>Number of hours not provided yet your hours entered will be considered as total hours<span/>
                                            {%endif%} 
                                     </div>

                        <div class="form-group">
                            <input type="file" name="timesheetPhoto" class="filestyle" data-iconName="fa fa-upload" accept="image/*" data-buttonText="Attach Time Sheet">
                        </div>
                                <div class="form-group">
                                <input class="form-control" placeholder="invoice Title" name="invoiceTitle" type="text" required>
                            </div>
                            <div class="row">
                             <div class="form-group col-sm-6">
                                    <input class="form-control" placeholder="Hours" min="1" max="{{task.remainingHours}}" name="workingHours" type="number" required />
                                </div>
                                     <div class="form-group col-sm-6">
                                    <input class="form-control" placeholder="Discount if Any" min="1" name="discount" type="number" />
                                </div>
                                </div>
                            <div class="form-group">
                                <textarea class="form-control" name="invoiceDescription" placeholder="Description"></textarea>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer text-right">
                        <input value="{{task.taskId}}" name="taskId" type="hidden"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add New invoice</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel ">
            <!-- /.panel-heading -->
            <div class="panel-body  padding-xs-0">

                <div class="table">
                    <div class="row">
                        <div class="col-sm-offset-9 col-sm-3">
                            <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search..">
                        </div>
                    </div>
                    <table class="table table-hover search-me-table">
                        <thead>
                            <tr>
                                <th>Invoice</th>
                                <th class="hidden-xs hidden-sm">Title</th>
                                <th class="hidden-xs hidden-sm">Hours</th>
                                <th class="hidden-xs hidden-sm">Rate</th>
                                <th class="visible-xs visible-sm">Hours@rate</th>
                                <th class="hidden-xs hidden-sm">Amount</th>
                                <th class="hidden-xs hidden-sm">Date(m/d/y)</th>
                                <th class="hidden-xs hidden-sm">Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if invoices.length
                            < 1%} <tr>
                                <td colspan="7" class="text-center"> No Invoices Generated</td>
                                </tr>
                                {%endif%} {% for invoice in invoices%}
                                <tr>
                                    <td class="hidden-xs hidden-sm">{{invoice.invoiceId}}</td>
                                    <td class="hidden-xs hidden-sm">{{invoice.invoiceTitle}}</td>
                                    <td class="visible-xs visible-sm">{{invoice.invoiceId}}<br>{{invoice.invoiceTitle}} {% if invoice.status == 'PENDING'%}
                                        <span class="label label-warning">{{invoice.status}}</span>                                {%elseif invoice.status == 'COMPLETE'%}
                                <span class="label label-success">AED {{invoice.income}} {{invoice.status}}</span> {%else%}
                                <span class="label label-default">AED {{invoice.income}} RECEVIED</span> {%endif%}
                                <span>{{invoice.numberPlate}}</span>
                                </td>
                                <td class="hidden-xs hidden-sm">{{invoice.workingHours}}</td>
                                <td class="hidden-xs hidden-sm">AED {{invoice.workingRate}}</td>
                                <td class="visible-xs visible-sm">{{invoice.workingHours}}@{{invoice.workingRate}}</td>
                                <td class="hidden-xs hidden-sm">AED {{invoice.income}}</td>
                                <td class="hidden-xs hidden-sm">{{invoice.invoiceDate_str}}</td>
                                <td class="hidden-xs hidden-sm">
                                    {% if invoice.status == 'PENDING'%}
                                    <span class="label label-warning">{{invoice.status}}</span> {%else%}
                                    <span class="label label-default">RECEVIED</span> {%endif%}
                                </td>
                                <td>
                                      <a class="btn btn-sm btn-default fa fa-ellipsis-h"href="/invoices/details/{{invoice.taskId}}/{{invoice.invoiceId}}"></a>
                                </td>
                                </tr>
                                {%endfor%}
                                </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->


    {% endblock %}