 {% extends '../layouts/default.html' %} {% block content %}

<div class="row">
    <div class="col-sm-8">
        <h1 class="">Tasks</h1>
    </div>
    <div class="col-sm-4 text-right">
        <h1 class="">
            <a class="btn btn-default" data-toggle="modal" href="#downloadExcelModal"><span class="fa fa-download"></span></a>
            <button class="btn btn-primary" data-target="#newTaskModal" data-toggle="modal"><span class="fa fa-plus"></span> Create Task</button>
        </h1>
    </div>
    <!-- Modal -->
    <div id="newTaskModal" class="modal modal-lg right fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Task</h4>
                </div>
                <form role="form" method="post" action="/tasks" autocomplete="off">
                    <div class="modal-body">
                        <fieldset>

                            <div class="form-group">
                                <select class="form-control" name="numberPlate">
                                    {%for vehicle in vehicles%}
                                    <option value="{{vehicle.numberPlate}}">{{vehicle.vehicleType}} - {{vehicle.numberPlate}}</option>
                                        {%endfor%}
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Hiring Company" name="hiredBy" type="text" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Task Title" name="taskTitle" type="text" required>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <input type="text" placeholder="Date" name="startDate" data-date-end-date="0d" class="form-control datepicker" required />
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" placeholder="Time" name="startTime" class=" form-control clockpicker" data-default="09:00">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <input class="form-control" placeholder="Hired for" type="number" min="1" step="0.5" name="interval" id="taskinterval" required />
                                </div>
                                <div class="form-group col-sm-6">
                                    <select class="form-control" name="intervalType" id="intervalTypeSelect">
                                                            <option value="hours">Hours</option>
                                                            <option value="days">Days</option>
                                                            <option value="months">Months</option>
                                                            <option value="notsure">Not Sure</option>
                                                        </select>
                                </div>
                            </div>


                            <div class="row">

                                <div class="form-group col-sm-6">
                                    <input class="form-control" placeholder="Working Rate" min="0" name="workingRate" type="number" required />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="radio-inline">
                                                <input type="radio" name="withDiesel" id="withDieselYes" value="YES" checked>With Diesel
                                            </label>
                                    <label class="radio-inline">
                                                <input type="radio" name="withDiesel" id="withDieselNo" value="NO">Without Diesel
                                            </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="taskDescription" placeholder="Description"></textarea>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add New Task</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="downloadExcelModal" class="modal modal-lg right fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose Date Range</h4>
                </div>
                <form role="form" method="post" action="/downloads/excels/tasks" autocomplete="off">
                    <div class="modal-body">
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group input-daterange">
                                    <div class="input-group-addon">From</div>
                                    <input type="text" class="form-control" name="startDate" required>
                                    <div class="input-group-addon">To</div>
                                    <input type="text" class="form-control" name="endDate" required>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Download</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel ">
            <!-- /.panel-heading -->
            <div class="panel-body  padding-xs-0">

                <div class="table">
                    <div class="row">
                        <div class="col-sm-offset-9 col-sm-3">
                            <input type="text" class="form-control" id="alphaSaurSearch" placeholder="Search..">
                        </div>
                    </div>
                    <table class="table table-hover" id="taskTable" data-url="/json/tasks/data" data-limit="10" data-offset="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th class="hidden-xs hidden-sm">Hours</th>
                                <th class="hidden-xs hidden-sm">Rate</th>
                                <th class="visible-xs visible-sm">Hours@rate</th>
                                <th class="hidden-xs hidden-sm">Income</th>
                                <th class="hidden-xs hidden-sm">Vehicle</th>
                                <th class="hidden-xs hidden-sm">Date(m/d/y)</th>
                                <th class="hidden-xs hidden-sm">Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="100%">
                                    <button class="btn btn-default btn-block hidden" id="alphaSaurLoadMore">Load More ...</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->


{% endblock %}