 {% extends '../layouts/default.html' %} {% block content %} {% if task.status !== 'COMPLETE'%}
<!-- Modal -->
<div id="newExpensesModal" class="modal modal-lg right fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Expense</h4>
            </div>
            <form role="form" method="post" action="/expenses" autocomplete="off">
                <div class="modal-body">
                    <fieldset>

                        <div class="form-group">
                            <div class="alert alert-danger" style="margin-top: 20px !important;">
                                <strong>Note:</strong> <br>These are general expenses and will not be added as recieveables.<br>Recieveable
                                expenses can be added only at invoice level
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control hidden" readonly name="taskId" type="text" value="{{task.taskId}}">
                            <input class="form-control hidden" readonly name="numberPlate" type="text" value="{{task.numberPlate}}">
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input class="form-control" placeholder="Expense Title" name="expenseTitle" type="text" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <input class="form-control" placeholder="Expenses" min="1" step="0.1" name="expenses" type="number" required/>
                            </div>
                        </div>
                        <div class="form-group hidden">
                            <label class="control-label padding-right-10">Add to Recieveable</label>
                            <input name="recieveable" value="YES" type="radio" id="recieveableyes" /><label class="padding-right-10"
                                for="recieveableyes"> Yes</label>
                            <input name="recieveable" value="NO" type="radio" id="recieveableno" checked/><label for="recieveableno"> No</label>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="expenseDescription" placeholder="Description"></textarea>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add New Expense</button>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="addHoursModal" class="modal  fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add More Hours</h4>
            </div>
            <form role="form" method="post" action="/tasks/addhours" autocomplete="off">
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control hidden" readonly name="numberPlate" type="text" value="{{task.numberPlate}}">
                            <input class="form-control hidden" readonly name="taskId" type="text" value="{{task.taskId}}">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Number of Hours to Add" min="0.5" step="0.5" name="hours" type="number" required/>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add More Hours</button>
                </div>
            </form>
        </div>

    </div>
</div>
{%endif%} {%if !task.lpo %}
<div id="attachLPOModal" class="modal modal-lg right fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Attach LPO</h4>
            </div>
            <form role="form" method="post" action="/tasks/lpo" enctype="multipart/form-data" autocomplete="off">
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control hidden" readonly name="taskId" type="text" value="{{task.taskId}}">
                            <input class="form-control hidden" readonly name="numberPlate" type="text" value="{{task.numberPlate}}">
                        </div>
                        <div class="form-group">
                            <input type="file" name="lpoPhoto" class="filestyle" data-iconName="fa fa-upload" accept="image/*" data-buttonText="Attach LPO">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="LPO Number" name="lpo" required type="text" />
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Attach LPO</button>
                </div>
            </form>
        </div>

    </div>
</div>
{%endif%}
<div class="row" style="padding-top: 20px !important;">
    <div class="dropdown col-md-12 text-right">
        <a class="btn btn-primary" href="/invoices/{{task.taskId}}">View Invoices</a>
        <!-- /.dropdown -->
        <a class="btn btn-default dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                        More Options <i class="fa fa-caret-down"></i>
                    </a>
        <ul class="dropdown-menu dropdown-menu-right">
            {%if !task.lpo %}
            <li><a href="#attachLPOModal" data-toggle="modal">Attach LPO</a>
            </li>
            {%endif%} {% if task.status !== 'COMPLETE' %}
            <li><a href="#newExpensesModal" data-toggle="modal">Add New Expenses</a>
            </li>
            <li><a href="#addHoursModal" data-toggle="modal">Add More Hours</a>
            </li>
            {%endif%} {% for doc in task.taskDocuments %}
            <li><a target="_blank" href="/api/downloads/tasks/{{task.taskId}}/{{doc.fileName}}.{{doc.extension}}">Download {{doc.fileType | title}}</a>
            </li>
            {%endfor%}
        </ul>
        <!-- /.dropdown-user -->
        <!-- /.dropdown -->
    </div>
</div>


<div class="row" id="{{task.taskId}}TaskDiv" style="padding-top: 20px !important;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">
                    <img class=" img-circle" src="/api/downloads/companies/logos/{{session.company.logo}}" />
                </h3>
                <h3 class="text-center"><strong>{{session.company.companyName}} - Task  {% if task.status == 'PENDING'%}
                                        <span class="label label-warning">{{task.status}}</span> {%elseif task.status
                                        == 'COMPLETE'%}
                                        <span class="label label-success">{{task.status}}</span> {%endif%}
                                    </strong></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 row">
                        <div class="col-sm-12 text-left">
                            <h5>Task Number: <strong><a>{{task.taskId}}</a></strong></h5>
                        </div>
                        {% if task.lpo %}
                        <div class="col-sm-12 text-left">
                            <h5>LPO Number: <strong><a>{{task.lpo}}</a></strong></h5>
                        </div>
                        {%endif%}
                        <div class="col-sm-12 text-left">
                            <h5>Company: <strong>{{task.hiredBy | title}}</strong></h5>
                        </div>
                        <div class="col-sm-12 text-left">
                            <h5>Title: <strong>{{task.taskTitle | title}}</strong></h5>
                        </div>
                    </div>
                    <div class="col-xs-6 row text-right">
                        <div class="col-sm-12">
                            <h5><strong>{{task.updatedAt | date('M d, Y')}}</strong></h5>
                        </div>
                        <div class="col-sm-12">
                            <h5><strong>{{vehicle.vehicleType}} - {{vehicle.numberPlate}}</strong></h5>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 text-left">
                        <h5>With Deisel: <strong>{{task.withDiesel}}</strong></h5>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-left">
                        <h5>Number of Hours: <strong>{{task.workingHours}}</strong></h5>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-left">
                        <h5>Rate per Hour: <strong>AED {{task.workingRate}}</strong></h5>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-left">
                        <h5>Total: <strong>AED {{task.total}}</strong></h5>
                    </div>
                </div>
                <hr> {%if expenses.length%}
                <h5><strong>Expenses</strong></h5>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td><strong>Title</strong></td>
                                <td class="text-left"><strong>Description</strong></td>
                                <td class="text-right"><strong>Recieveable</strong></td>
                                <td class="text-right"><strong>Expense</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in expenses%}
                            <tr>
                                <td>{{expense.expenseTitle | title}}</td>
                                <td class="text-left">{{expense.expenseDescription}}</td>
                                <td class="text-right">{{expense.recieveable}}</td>
                                <td class="text-right">AED {{expense.expenses}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <hr> {%endif%}
                <div class="row">
                    <div class="col-xs-10 text-right">
                        <strong>Total Expenses</strong>
                    </div>
                    <div class="col-xs-2 text-right">
                        AED {{task.totalExpenses}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 text-right">
                        <strong>Discounts</strong>
                    </div>
                    <div class="col-xs-2 text-right">
                        AED {{task.discount || 0}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 text-right">
                        <strong>Income</strong>
                    </div>
                    <div class="col-xs-2 text-right">
                        {%if task.income%} AED {{task.income}} {%else%} AED 0 {%endif%}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-left padding-top-30">
                        <span>{{task.taskDescription | capitalize}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <a href="/outsource/tasks/{{task.numberPlate}}/{{task.taskId}}" target="_blank">View Invoice Without Expenses</a> -->
<div class="row" style="margin-bottom: 20px">
    <div class="col-xs-12 text-right">
        <button type="button" class="btn btn-default" onclick="printContent('{{task.taskId}}TaskDiv');">Print Task</button>
         {%if task.status == 'PENDING'%}
        <button type="button" data-target="#markTaskAsComplete" data-toggle="modal" class="btn btn-primary">Mark as Complete</button> 
               {%endif%}
    </div>


    <div id="markTaskAsComplete" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mark Task as Complete</h4>
                </div>
                <form role="form" method="post" action="/tasks/complete" enctype="multipart/form-data" autocomplete="off">
                    <div class="modal-body">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control hidden" readonly name="taskId" type="text" value="{{task.taskId}}">
                                <input class="form-control hidden" readonly name="numberPlate" type="text" value="{{task.numberPlate}}">
                            </div>
                            <div class="form-group">
                            {% if !task.lpo %}
                                                             <span>Note: LPO is not attached.</span><br>                        {%endif%}
                        <span>Are you sure you want to mark this task as completed?</span>
                    </div>
                    </fieldset>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Mark as Complete</button>
                </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}